body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

textarea {
    width: 80%;
    height: 300px;
    margin-bottom: 10px;
    resize: none;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    font-size: 16px;
}
